.global_var_text {
    font: 16px monospace
}

.global_var_rect {
    background: blue;
    fill : gray;
    opacity: 0.4;
}

.heap_text {
    font: 16px monospace
}

.heap_rect {
    background: blue;
    opacity: 0.4;
}

.global_var_name_rect {
    fill: red;
}